---
---

@import "{{ site.theme }}";


:root{
    --background: rgb(0, 26, 83);
    --text-color: rgb(55, 109, 226);
    --header-text-color:rgb(86, 86, 255);
    --header-color: rgb(14, 14, 80);
}
html {
    background-color: var(--background);
    margin: 0;
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100%;
    font-family: "Arial", sans-serif;
}

/* header section */
.page-header {
    background-color: var(--header-color);
    color: var(--text-color);
    background-image: unset;
    width: 100%;
}

/* main content */
.main-container{
    display: flex;
    flex-direction: row;
    height: 100%;
    flex-grow:1;
}
.navbar{
    background-color: rgb(1, 143, 100);
    width:12rem;
    min-height: 100%;

    ul{
        list-style-type: none;
        box-sizing: border-box;
        margin: 5px;
        padding: 0;
    }
    li a{
        display: block;
        box-sizing: border-box;
        margin-top: 5px;
        width:100%;
        height:2rem;
        color: rgb(0, 0, 34);
        text-decoration: none;
        
        text-align: center;
        
        
        &:hover{
            border: 2px solid rgb(0, 102, 46);
            border-radius:5px 15px 5px;
            background-color: rgb(36, 182, 0);
        }
    }
}
.main-content{
    margin: unset;
    width: 100%;
    max-width: 75%;
    flex-grow: 1;
    background-color: var(--background);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
}

/* footer */
.site-footer{
    background-color: var(--header-color);
    width: 100%;
    justify-content: flex-end;
    margin-top: 0;
    border-top: unset;
}

/* Tic Tac Toe*/
.centered{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#tic-tac-toe-board{
    td{
        border: 2px solid rgb(0, 87, 158);
        height: 5rem;
        width: 5rem;
        text-align: center;
        font-weight: bold;
        font-size: 2rem;
    }
    background-color: aquamarine;
    width: auto;
    margin: 1rem;
}

#winner{
    height: 5rem;
    width: 20rem;
    text-align: center;
}