---
---

@import "{{ site.theme }}";
:root{
    --background: rgb(0, 26, 83);
    --text-color: rgb(55, 109, 226);
    --header-text-color:rgb(86, 86, 255);
    --header-color: rgb(14, 14, 80);

}
html {
    background-color: var(--background);
    margin: 0;
    height: 100%;
}
.page-header {
    background-color: var(--header-color);
    color: var(--text-color);
    background-image: unset;
    width: 100%;
}

#content {
    background-color: var(--background);
    color: var(--text-color)
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100%;
}

.site-footer{
    background-color: var(--header-color);
    width: 100%;
    margin-top: auto;
    border-top: unset;
}
.main-container{
    display: flex;
    flex-direction: row;
    min-height: 100%;
}
.navbar{
    background-color: rgb(1, 143, 100);
    width:12rem;
    min-height: 100%;
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    li a{
        display: block;
        width:100%;
        height:2rem;
        color: rgb(0, 0, 34);
        text-decoration: none;
        &:hover{
            background-color: rgb(36, 182, 0);
        }
    }

}
.main-content{
    margin: unset;
    max-width: 75%;
}